{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style-about-us.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>О нас</title>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="header-line">
            <div class="nav">
                <a class="nav-item" href="/">Главная</a>
                <a class="nav-item" href="catalog"> Каталог</a>
                <a class="nav-item-main" href="#"> О нас</a>
                <a class="select-item" href="#">Москва</a>
                </div>
        </div>
    </div>
</div>

<div class="desk">
    <b>Мы выстраиваем бизнес с полным пониманием потребностей своих клиентов, адаптируя работу к запросам конкретных потребителей.<br><br>Являясь частью медицинского мира, мы развиваем этот рынок изнутри.</b></div>

<div class="cause-text"><b>Причины заказать медицинское оборудование у нас </b></div>
<div class="container-1">

    <div class="cause-1">
        <div class="cause-1-text">
        <div class="header-text">Репутация надежного эксперта</div>
            <br>
        <div class="header-down-text">Вы получаете с товарами из нашего гипермаркета весь<br>необходимый пакет документов.</div>
        </div>
        <div class="cause-1-image"><img src="{% static 'main/img/cause-1.png'%}" alt=""></div>
    </div>

    <div class="cause-1">
        <div class="cause-1-text">
        <div class="header-text">Низкие цены и дополнительные скидки</div>
            <br>
        <div class="header-down-text">Стоимость оборудования не превышает<br>рекомендуемую розничную цену производителя.</div>
        </div>
        <div class="cause-2-image"><img src="{% static 'main/img/cause-2.png'%}"  alt=""></div>
    </div>

    <div class="cause-1">
         <div class="cause-1-text">
        <div class="header-text">Оперативная доставка в любую точку России</div>
            <br>
        <div class="header-down-text">Мы осуществляем быструю, удобную и безопасную<br>поставку всех приобретенных у нас товаров – от<br>расходных материалов до крупногабаритных<br>установок.</div>
        </div>
        <div class="cause-3-image"><img src="{% static 'main/img/cause-3.png'%}"  alt=""></div>
    </div>
</div>

<div class="contacts">
    <div class="number">Телефон<br>7(985)354-03-94</div>
    <div class="pochta">Почта<br>medhelp@gmail.com</div>
    <div class="adress">Адрес<br>Московская область, город Клин,<br>бульвар Домодедовская, 27</div>
</div>
</body>
</html>