<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Health</title>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="header-line">
            <div class="nav">
                <a class="nav-item" href="@">Главная</a>
                <a class="nav-item" href="@"> Каталог</a>
                <a class="nav-item" href="@"> О нас</a>
                <a class="nav-item" href="@"> Войти</a>
                <a class="select-item" href="@">Москва</a>

                </div>
            <div class="Select">
                    <img src="icons/Vector.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="header-down">
    <input class="search" type="search" />
 <div class="cart">
                <a href="#">
                    <img src="icons/cart.png" alt="">
                </a>
            </div>
    <div class="search-glass">
        <img src="icons/search.png" alt="">
    </div>
</div>

<div class="picture">
    <div class="neogen">
        <img src="icons/picture.png"
    </div>
</div>

</body>
</html>