{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style-index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Главная</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-line">
            <div class="nav">
                <a class="nav-item-main" href="#">Главная</a>
                <a class="nav-item" href="catalog"> Каталог</a>
                <a class="nav-item" href="about-us"> О нас</a>
                <a class="select-item" href="#">Москва</a>
            </div>
        </div>
    </div>
</div>

<div class="header-down">
    <input class="search" type="search" placeholder=""/>
 <div class="cart">
                <a href="#">

                </a>

 </div>
    <div class="search-glass">
        <img src="{% static 'main/img/search.png'%}" alt="">
    </div>
</div>

<div class="picture">
    <div class="neogen">
        <img src="{% static 'main/img/neo.png'%}" >
    </div>
</div>

<div class="header-3">
    <div class="offers">
        <b>Наши спецпредложения</b>
    </div>
<div class="container-2">
    <div class="offers-item">
        <div class="present">
            <img src="{% static 'main/img/present.png '%}" alt="">
        </div>
        <div class="text-offers">Будьте всегда в курсе  <br> актуальных предложений</div>
        <input class ="email" type="email" placeholder="e-mail"/>
        <input class="submint" type="submit" value="Подписаться"/>
    </div>
</div>
</div>

<div class="services-text"><b>Услуги компании</b></div>

<div class="service-1">
    <div class="service-1-image"><img src="{% static 'main/img/service-1.png'%}"  alt=""></div>

    <div class="service-1-text"><b>1 Консультация по подбору инструментария</b> <br><br>Наши специалисты помогут подобрать необходимое оборудование согласно вашему запросу</div>
</div>

<div class="service-2">
    <div class="service-2-image"><img src="{% static 'main/img/service-2.png'%}"  alt=""></div>

    <div class="service-2-text"><b>2 Снабжение медицинским оборудованием</b> <br><br>Мы осуществляем поставки медицинского оборудования от ведущих мировых производителей</div>
</div>

<div class="service-3">
    <div class="service-3-image"><img src="{% static 'main/img/service-3.png'%}"  alt=""></div>

    <div class="service-3-text"><b>3 Сервисное обслуживание</b> <br><br>Ремонт и техническое обслуживание медицинского оборудования</div>
</div>

<div class="service-4">
    <div class="service-4-image"><img src="{% static 'main/img/service-4.png'%}"  alt=""></div>

    <div class="service-4-text"><b>4 Trade-in</b> <br><br>Возможность приобретения медицинского оборудования по программе трейд-ин — обмен б/у аппаратов на новые модели</div>
</div>

<div class="popular-product-text">
    <b>Популярные товары</b>
</div>

<div class="product-cards">
        <div class="cards-holder">
            <div class="card">
                    <div class="card-title-1">
                    Косметологические лазеры
                    </div>

                <div class="card-image-1">
                    <img src="{% static 'main/img/card-1.png'%}"   alt="">
                </div>

                <div class="card-description-1">
                    Аппарат 4 в 1 А 0316 <br>(SHR, Элос (E-light),Yag-лазер, RF-лифтинг)

                </div>

                <div class="cost-1">
                    180 000 ₽
                </div>

                <div class="by-1">
                    <div class="by-img-1">
                        <a  class="btn-ens-action" data-rel="7d284a0c304430" href="#">
                             <img src="{% static 'main/img/by-img.png'%}"   alt="">
                        </a>
                    </div>
                    <div class="by-text-1">
                            Купить
                    </div>

                </div>
            </div>
            <div class="card">
                    <div class="card-title-1">
                    УЗИ аппараты
                    </div>

                <div class="card-image-2">
                    <img src="{% static 'main/img/card-2.png'%}" alt="">
                </div>

                <div class="card-description-1">
                   УЗИ-СКАНЕР VIVID E95
                </div>

                <div class="cost-2">
                    4 970 000 ₽
                </div>

                <div class="by-1">
                    <div class="by-img-1">
                        <a  class="btn-ens-action" data-rel="7d284a0c304625" href="#">
                             <img src="{% static 'main/img/by-img.png'%}"  alt="">

                        </a>
                    </div>
                        <div class="by-text-1">
                            Купить
                        </div>

                </div>
            </div>
            <div class="card">
                    <div class="card-title-1">
                    Косметологические лазеры
                    </div>

                <div class="card-image-1">
                    <img src="{% static 'main/img/card-3.png'%}"   alt="">
                </div>

                <div class="card-description-1">
                Лазерное оборудование для удаления<br>волос Аппарат ES-770
                </div>

                <div class="cost-3">
                    192 000 ₽
                </div>

                <div class="by-1">
                    <div class="by-img-1">
                        <a  class="btn-ens-action" data-rel="7d284a0c304626" href="#">
                             <img src="{% static 'main/img/by-img.png'%}"  alt="">
                        </a>
                    </div>
                        <div class="by-text-1">
                            Купить
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="https://lk.easynetshop.ru/frontend/v5/ens-7d284a0c.js"></script>
<link href="https://lk.easynetshop.ru/frontend/v5/ens-7d284a0c.css" rel="stylesheet">
<style>.powered {display:none}</style>


<script>
    document.addEventListener("EasyNetShopLoaded", function(event) {
      ens_jQuery('#enscart_image_wrapper').html('<img src="{% static 'main/img/cart.png'%}" alt="">');
    }, false);
</script>

<style>
    #enscart_wrapper {
      text-align: center;
    }

    #enscart_image_wrapper {
      background: white;

    }
    #enscart_image_wrapper img {
      height: 60%;
      width: auto;
      padding-top:12px;
    }
</style>
<script>
document.addEventListener("EasyNetShopLoaded", function(event) {
     ens_jQuery(".easynetshop-buy, .btn-ens-action").click(function () {
       var target = ens_jQuery(this);
       var pos = target.offset();
       var cart_pos = ens_jQuery('#enscart_wrapper').offset();
	   var clone = target.clone()
			  .css({ position: 'absolute', 'z-index': '2100', top: pos.top, left: pos.left })
			  .appendTo("body")
			  .animate({top: cart_pos.top, left: cart_pos.left, opacity: 0}, 900, function() { clone.remove(); });
       });
    }, false);
   document.addEventListener("EasyNetShopModalOpened", function(event) {
      if ((ens_jQuery(".easynetshop-modal-addtocart").css('display') != 'none'))  hideEasynetshopModals();
   }, false);
  </script>
</body>
</html>
