<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Health</title>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="header-line">
            <div class="nav">
                <a class="nav-item" href="@">Главная</a>
                <a class="nav-item" href="@"> Каталог</a>
                <a class="nav-item" href="@"> О нас</a>
                <a class="nav-item" href="@"> Войти</a>
                <a class="select-item" href="@">Москва</a>

                </div>
            <div class="Select">
                    <img src="icons/Vector.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="header-down">
    <input class="search" type="search" placeholder=""/>
 <div class="cart">
                <a href="#">
                    <img src="icons/cart.png" alt="">
                </a>
            </div>
    <div class="search-glass">
        <img src="icons/search.png" alt="">
    </div>
</div>

<div class="picture">
    <div class="neogen">
        <img src="icons/picture.png"
    </div>
</div>

<div class="header-3">
    <div class="offers">
Наши спецпредложения
    </div>
<div class="container-2">
    <div class="offers-item">
        <div class="present">
            <img src="icons/present.png" alt="">
        </div>
        <div class="text-offers">Будьте всегда в курсе  <br> актуальных предложений</div>
        <input class ="email" type="email" placeholder="e-mail"/>
        <input class="submint" type="submit" value="Подписаться"/>
    </div>
</div>
</div>

<div class="services-text">Услуги компании</div>

<div class="service-1">
    <div class="service-1-image"><img src="icons/service-1.png" alt=""></div>

    <div class="service-1-text"><b>1 Проектирование медицинских учреждений</b> <br><br>Осуществляем функции генерального проектировщика по всем разделам проекта, принимаем участие в согласованиях и ведем авторский надзор</div>
</div>

<div class="service-2">
    <div class="service-2-image"><img src="icons/service-2.png" alt=""></div>

    <div class="service-2-text"><b>2 Оснащение медицинских учреждений</b> <br><br>Оснащение медицинских учреждений с учетом специфики оказания конкретных видов медицинской помощи и параметров помещения</div>
</div>

<div class="service-3">
    <div class="service-3-image"><img src="icons/service-3.png" alt=""></div>

    <div class="service-3-text"><b>3 Сервисное обслуживание</b> <br><br>Ремонт и техническое обслуживание медицинского оборудования</div>
</div>

<div class="service-4">
    <div class="service-4-image"><img src="icons/service-4.png" alt=""></div>

    <div class="service-4-text"><b>4 Trade-in</b> <br><br>Возможность приобретения медицинского оборудования по программе трейд-ин — обмен б/у аппаратов на новые модели</div>
</div>

</body>
</html>
